* {
    font-family: Comfortaa !important;
}

body {
    background-color: #FAF5F0 !important;
}

.navbar-expand-lg {
    background-color: #E3D5CA !important;
}

.navbar-light .navbar-nav .nav-link {
    text-shadow: 0px 0px 2px rgb(128, 128, 128);
    color: black !important;
}

.footer {
    background-color: #E3D5CA;
    padding-top: 20px;
}

.btn-brown {
    color: black !important;
    background-color: #D5BDAF;
    transition: background-color 0.3s, color 0.3s;
}

.btn-brown:hover {
    background-color: #CEB2A1;
    color: white !important;
}

.btn-brown-clair {
    color: black !important;
    background-color: #D6CCC2;
    transition: background-color 0.3s, color 0.3s;
}

.btn-brown-clair:hover {
    background-color: #CEB2A1;
    color: white !important;
}

.btn-clair {
    color: black !important;
    background-color: #FAF5F0;
    transition: background-color 0.3s, color 0.3s;
}

.btn-clair:hover {
    background-color: #e3d5ca;
    color: white !important;
}



.content-before-footer {
    background-color: #EDEDE9 !important;
    margin: 0;
    padding: 70px;
    font-size: 27px;
}

.text-footer {
    color: black !important;
}

.text-footer:hover {
    color: black;
}

.img-footer {
    margin-bottom: -60px;
    padding-bottom: 40px;
}

.copyright {
    color: black !important;
    margin-top: -40px !important;
}

.row-img-txt{
    margin: 100px;
}

.row-txt-txt{
    margin: 100px;
}

.img-home {
    width: 500px;
    height: 270px;
}