{% extends "base.html" %}
{% block title %}GasGenius - Accueil {% endblock %}
{% block content %}
<!-- ZONE DOUBLE ROW START-->
<div class="container">
    <div class="row">
        <div class="col-md-6 title-row">
                    <h1>Plongez dans le monde des carburants</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-txt-txt">
        <div class="col-md-6">
            <h2><strong>Trouvez votre station essence</strong></h2>
            <p>Besoin de faire le plein ?  Ne cherchez pas plus loin ! Grâce à GasGenius,
                trouvez facilement la station essence la plus proche, où que vous soyez.
                Trouvez rapidement votre station essence et reprenez la route !  </p>
            <button class="btn  my-2 my-sm-0 btn-brown-clair">Rechercher</button>

        </div>
        <div class="col-md-6">
            <h2><strong>Parcourez les statistiques</strong></h2>
            <p>Explorez les données clés du secteur des carburants grâce à GasGenius .
                Avec des statistiques actualisées en temps réel,
                plongez au cœur de l'univers énergétique. Parcourez les statistiques des carburants
                dès maintenant !  </p>
            <button class="btn  my-2 my-sm-0 btn-brown-clair">Statistiques</button>

        </div>
    </div>
    <div class="row row-img-txt">
        <div class="col-md-6">
            <h2><strong>Informations certifiées</strong></h2>
            <p>Accédez à des données fiables et certifiées sur les carburants,
                directement issues des sources officielles du gouvernement.
                Notre plateforme vous offre un accès privilégié à des statistiques
                précises et actualisées, garantissant une transparence totale dans un secteur crucial. </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{gasstation}}" alt="Image" class=" img-home" >
        </div>
    </div>
</div>
<!-- ZONE DOUBLE ROW END-->


<!-- ZONE DESSUS FOOTER START-->
<div class=" content-before-footer">
    <div class="row">
        <div class="col-8 text-left">
            <p>Vous souhaitez avoir des données sur le prix du
                carburant dans votre département, cliquez ici !</p>
        </div>
        <div class="col-4">
            <button class="btn  my-2 my-sm-0 btn-brown-clair">Rechercher</button>
            <button class="btn  my-2 my-sm-0 btn-clair">Statistiques</button>
        </div>
    </div>
</div>
<!-- ZONE DESSUS FOOTER END-->
{% endblock %}