{% extends "base.html" %}
{% block title %}GasGenius - Statistiques nationales {% endblock %}
{% block content %}

<div class="container">
    <div class="row title-row">
        <h1>Explorez les statistiques nationales</h1>
    </div>

    {% if carburant_info %}
        {% for carburant, info in carburant_info.items() %}
        <div class="row">
            <div class="col-md-4">
                <img src="{{ logo }}" alt="Logo GasGenius" class="img-carb">
                <h2>{{ carburant }}</h2>
                <h3>Prix moyen</h3>
                <br>
                {% if info.avg_price %}
                    {{ info.avg_price }}€
                {% else %}
                    Données non disponibles
                {% endif %}
                <br>
                <h3>Prix le plus cher</h3>
                {% if info.max_price %}
                    <p>Station: {{ info.max_price[2] }}</p>
                    <p>Adresse: {{ info.max_price[3] }}, {{ info.max_price[4] }}, {{ info.max_price[5] }}</p>
                    <p>Prix: {{ info.max_price[1] }}€</p>
                {% else %}
                    <p>Données non disponibles</p>
                {% endif %}
                <br>
                <h3>Prix le moins cher</h3>
                <br>
                {% if info.min_price %}
                    <p>Station: {{ info.min_price[2] }}</p>
                    <p>Adresse: {{ info.min_price[3] }}, {{ info.min_price[4] }}, {{ info.min_price[5] }}</p>
                    <p>Prix: {{ info.min_price[1] }}€</p>
                {% else %}
                    <p>Données non disponibles</p>
                {% endif %}
                <br>
                <h3>Prix moyen</h3>
                <br>
                {{ info.avg_price }}€
                <br>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucune information disponible.</p>
    {% endif %}

    <div class="row">
        {% if plot_path %}
            <img src="{{ plot_path }}" alt="Graphique des prix moyens des carburants" class="img-stats">
        {% else %}
            <p>Graphique non disponible.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
