{% extends "base.html" %}
{% block title %}GasGenius - Statistiques nationales {% endblock %}
{% block content %}

<div class="container">
    <div class="row title-row">
        <h1>Explorez les statistiques nationales</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{gaspump}}" alt="Image" class="img-carb">
            <h2>Gazole</h2>
            <h3>Prix le plus cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix le moins cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix moyen</h3>
            <br>
            XX,XX€
            <br>
        </div>
                <div class="col-md-4">
            <img src="{{gaspump}}" alt="Image" class="img-carb">
            <h2>Gazole</h2>
            <h3>Prix le plus cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix le moins cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix moyen</h3>
            <br>
            XX,XX€
            <br>
        </div>
                <div class="col-md-4">
            <img src="{{gaspump}}" alt="Image" class="img-carb">
            <h2>Gazole</h2>
            <h3>Prix le plus cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix le moins cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix moyen</h3>
            <br>
            XX,XX€
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{gaspump}}" alt="Image" class="img-carb">
            <h2>Gazole</h2>
            <h3>Prix le plus cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix le moins cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix moyen</h3>
            <br>
            XX,XX€
            <br>
        </div>
                <div class="col-md-4">
            <img src="{{gaspump}}" alt="Image" class="img-carb">
            <h2>Gazole</h2>
            <h3>Prix le plus cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix le moins cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix moyen</h3>
            <br>
            XX,XX€
            <br>
        </div>
                <div class="col-md-4">
            <img src="{{gaspump}}" alt="Image" class="img-carb">
            <h2>Gazole</h2>
            <h3>Prix le plus cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix le moins cher</h3>
            <br>
            XX,XX€
            <br>
            Station Carrefour Market
            <br>
            596 AVENUE DE TREVOUX
            <br>
            01000 Saint-Denis-lès-Bourg
            <br>
            <h3>Prix moyen</h3>
            <br>
            XX,XX€
            <br>
        </div>
    </div>

</div>


{% endblock %}
